<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,user-scalable=no,viewport-fit=cover" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Kotori Kaikei">
  <title>Kotori Kaikei</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/others/site.webmanifest">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/tutorials.js}"></script>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.0/jszip.min.js"></script>

</head>

<body>
  <input type="file" id="file-input" multiple>
  <ul id="image-list"></ul>
  <div th:replace="fragments/header :: header"></div>
  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Tutorials</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="my-3">
      <form th:action="@{/}" id="searchForm">
        <div class="row d-flex">
          <div class="col-md-6 mt-2">
            <div class="search">
              <i class="fa fa-search"></i>
              <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                placeholder="Enter keyword">
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </div>
          <div class="col-md-3 input-group mt-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="pageSize">Items per page:</label>
            </div>
            <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()" class="size-select"
              id="pageSize">
              <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
            </select>
          </div>
          <div class="col-md-1 mt-2">
            <button id="btnClear" class="btn btn-info">Clear</button>
          </div>
          <button id="btnNotif" type="button" class="icon-button">
            <span class="material-icons">notifications</span>
            <span class="icon-button__badge">2</span>
          </button>
        </div>
      </form>
    </div>

    <div th:if="${tutorials.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Level</th>
            <th scope="col">Published</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tutorial : ${tutorials}">
            <th scope="row">[[${tutorial.id}]]</th>
            <td>[[${tutorial.title}]]</td>
            <td>[[${tutorial.description}]]</td>
            <td>[[${tutorial.level}]]</td>
            <td>
              <a th:if="${tutorial.published == true}" class="fa-regular fa-square-check"
                th:href="@{'/tutorials/' + ${tutorial.id} + '/published/false'}" title="Disable this tutorial"></a>
              <a th:if="${tutorial.published == false}" class="fa-regular fa-square icon-dark"
                th:href="@{'/tutorials/' + ${tutorial.id} + '/published/true'}" title="Enable this tutorial"></a>
            </td>
            <td>
              <a th:href="@{'/tutorials/' + ${tutorial.id}}" title="Edit this tutorial"
                class="fa-regular fa-pen-to-square icon-dark"></a>
              &nbsp;
              <a th:href="@{'/tutorials/delete/' + ${tutorial.id}}" th:tutorialTitle="${tutorial.title}" id="btnDelete"
                title="Delete this tutorial" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:unless="${tutorials.size() > 0}">
      <span>No tutorials found!</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
          <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
          <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
          th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
          <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
          <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
          <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
